html, body{
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
    
}
.left{
    height: 100%; width: 20%; 
    background-color:#8F00ff;
    
}
.right{
    height: 100%; width: 80%;
    background-color: white;
    margin:0px;
}
div{
    font-family: "Roboto";
}
.topnav{
    display: flex;
    text-align: right;
    height:10%; width: 100%;
    margin-top:5px;
    padding: 0px;
    align-items: center;    /* aligns vertically */
    justify-content: center;
}
.content{
    display: flex;
    height:90%; width:100%;
    background-color: white;
    align-items: center;    /* aligns vertically */
    justify-content: center;
}
.container{
    
    height:95%; width: 95%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
    background-color: white;
    
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8F00ff;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.list{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    background-color: #8F00ff;
    transition: background-color 0.2s;
    text-decoration: none;
    border-right: 1px solid #bbb;
}
.navbar :hover {
    background-color: white;
    border-radius: 12px;
    color: #8F00ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #8F00ff;
}
li a {
    /* padding-left: 200px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    font-family: "Roboto";
    font-size: larger;
    background-color: #8F00ff;
    transition: background-color 0.2s;
    text-decoration: none;
    border-radius: 12px; */
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    margin-right: 50px;
    background-color: #8F00ff;
    transition: background-color 0.2s;
    text-decoration: none; 
}
li a:hover, li a:active {
    background-color: white;
    border-radius: 12px;
    color: #8F00ff;
}

.user {
    font-family: "Roboto";
    font-size: larger;
    text-align: center;
}
.listname {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h2{
    text-align: center;
}
table{
    margin: 30px 10px 10px 10px;
    width: 99%;
    border-style: none;
    text-align: center;
}
th{
    background-color: #D9C4EC;
    border-style: none;
    text-align: center;
}
td{
    width: 12%;
}