.topnav{
    display: flex;
    text-align: right;
    height:10%; width: 100%;
    margin-top:5px;
    padding: 0px;
    align-items: center;    /* aligns vertically */
    justify-content: center;
}
.content{
    display: flex;
    height:90%; width:100%;
    background-color: white;
    align-items: center;    /* aligns vertically */
    justify-content: center;
}
.container{
    
    height:95%; width: 95%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
    background-color: white;
    
}
.navbar {
  /* list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8F00ff; */
  float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.list{
    font-family: 'Poppins';
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    background-color: #ffd6ff;
    transition: background-color 0.2s;
    text-decoration: none;
}
.navbar :hover {
    background-color: #c8b6ff;
    border-radius: 12px;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffd6ff;
}

li a {
    /* display: block; */
    color: #000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-size: larger;
    margin-bottom:15px;
    margin-left: 90%;
    background-color: #c8b6ff;
    transition: background-color 0.2s;
    border-radius: 12px;
}
li a:hover, li a:active {
    background-color: white;
    border-radius: 12px;
    color: #c8b6ff;
}
table{
    margin: 30px 10px 10px 10px;
    width: 99%;
    border-style: none;
}
th{
    background-color: #D9C4EC;
    border-style: none;
    text-align: center;
}
td{
    width: 12%;
}